

.width{
    display:flex;
    padding-top: 1cm;
    color: white;   
    background-size: 100%;
    background-image: url(https://i.ytimg.com/vi/oGhDP2O6g1o/maxresdefault.jpg); 
}

.title{
    border: 2px double white;
    border-radius: 3px;
    text-align: center;
    background-color: #015dca;
    color: white;
    height: 2cm;
}

.style{
    width:600px;
}



