

.width{
    display:flex;
    padding-top: 1cm;
    background-color: #ff6b00;
    color: white;   
    background-size: 100%;
}

.title{
    border: 2px double white;
    border-radius: 3px;
    text-align: center;
    background-color: #015dca;
    color: white;
    height: 2cm;
    ;
}

